// bower:scss
// endbower
@import "3rdparty/cytoscape-navigator.css";
@import "../bower_components/cytoscape-panzoom/cytoscape.js-panzoom.css";
@import "spinner.scss";

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}

#diagram {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}