// bower:scss
// endbower
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}

.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* elements */

.devs text {
  text-transform: uppercase;
  font-weight: 800;
}

.devs .body {
  fill: #ffffff;
  stroke: #31d0c6;
  stroke-width: 6px;
}

.devs .label {
  fill: #31d0c6;
  font-size: 16px;
}

.devs .port-body {
  stroke: #ffffff;
  stroke-width: 3px;
  fill: #7c68fc;
}

.devs .port-body:hover {
  opacity: 1;
  fill: #ff7e5d;
}

.devs .port-label {
  fill: #7c68fc;
}

.devs.Atomic .body {
  stroke: #feb663;
}

.devs.Atomic .label {
  fill: #feb663;
}

/* links */

.link .connection {
  stroke: #4B4F6A;
  stroke-width: 4px;
}

.link .marker-arrowhead, .link .marker-vertex {
  fill: #31D0C6;
}

.link .marker-arrowhead:hover {
  fill: #F39C12;
}

.link-tools .tool-remove circle {
  fill: #fe854f;
}

/* highlighting */

.devs.highlighted-parent .body {
  stroke: #fe854f;
  transition: stroke 1s;
}

.devs.highlighted-parent .label {
  fill: #fe854f;
  transition: fill 1s;
  text-decoration: underline;
}
